<h2>Passenger</h2>
<form ng-controller="driverFormCtrl" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label"><%= __("email") %></label>
        <div class="col-sm-10">
            <p class="form-control-static">email@example.com</p> [change]
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> NEAR FUTURE
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="driverStart" class="col-sm-2 control-label"><%= __('address')%></label>
        <div class="col-sm-10">
            <input id="driverStart" ng-model="driver.startpoint.origin" type="text" class="form-control" placeholder="Address"
                   ng-autocomplete="driver.startpoint.ac.result"  details="driver.startpoint.ac.details" options="driver.startpoint.ac.options">
        </div>
    </div>

    <div class="form-group">
        <label for="driverEnd" class="col-sm-2 control-label"><%= __('destination')%></label>
        <div class="col-sm-10">
            <input id="driverEnd" ng-model="driver.destination.origin" type="text" class="form-control" placeholder="Address"
                   ng-autocomplete="driver.destination.ac.result"  details="driver.destination.ac.details" options="driver.destination.ac.options">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Time/Date</label>
        <div class="col-sm-10">
            <input ng-model="driver.date" type="text" class="form-control" placeholder="Time/Date">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
            <input ng-model="driver.price" type="text" class="form-control" id="2" placeholder="100$">
        </div>
    </div>

    <input ng-click="offer()" value="GO" type="button"/>
    <input ng-click="locateMe()" value="Geolocate ME" type="button"/>
    <!--<input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on">-->

</form>

<style>
    body {
        background-color: #1abc9c !important;
    }
</style>