@defaultBG: #16a085;
@defaultBG2: #1abc9c;


@import "_header";
@import "anim.less";
.rounded-corners(@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}


body {
  background-color: @defaultBG2;
}

.ride-item {
  hr {
    clear: both;
  }
  img {
    height: 100px;
    width: 100px;
    float: left;
  }
  button {
    float: left;
  }
}



