<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><%- title %></a>
        <a class="navbar-brand" href="#"><% %></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login/gp">login G+</a></li>
            <li><a href="/login/fb">login fb</a></li>
            <li class="active"><a href="./">[My Data]</a></li>
            <li><a href="../navbar-fixed-top/">Profile</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div>