<!DOCTYPE html>
<html lang="en">

<head>
    <%- include head%>
</head>

<body>


<div id="wrap">

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>[Header]</h1>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h3>Angular test[Search in future]</h3>
                <ul class="menu">
                    <li><a href="#/view1">view1</a></li>
                    <li><a href="#/view2">view2</a></li>
                    <li><a href="#/userBlock">userBlock</a></li>
                </ul>
                <div data-ng-view></div>

                <hr/>


            </div>
            <div class="col-xs-6 col-md-4">
                <h3>Sockets test[Results in future]</h3>

                <div ng-controller="socketsCtrl">
                    <input type="text" ng-model="sc"/>
                    <h5>Sockets {{sc}}</h5>
                    <span>Name: <span ng-bind="user.name"></span></span>
                    <br/>
                    <span ng-cloak>Test: {{user.test}}</span>
                    <br/> 
                    <input ng-model="newUsername" type="text"/>
                    <button ng-click="addUser()">ADD</button>
                    <ul>
                        <li ng-repeat="user in socketData | filter:newUsername">
                            <span ng-bind="user.name"></span>
                            <span>{{user.test}}</span>
                        </li>
                    </ul>
                </div>
                <%// - include sockets-test.ejs %>
            </div>
        </div>

    </div>
</div>

<script type=text/ng-template id=test2.html>
    <!-- Settings -->
    <p>Settings go here ...</p>
</script>

<script src="/js/libs/requirejs/require.js" data-main="js/main.js"></script>
</body>
</html>
