<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://94.244.155.77:3030');
    socket.on('newUser', function (data) {
        console.log(data);
        socket.emit('data', { my: 'data' });
    });

    var testData = (function() {
        var i = 0
        return function() {
            return i++
        }
    }())
</script>
 <h1>Sockets test</h1>
 <button onclick="socket.emit('data', {testNum : testData()})">NEW DATA</button>
</body>
</html>
