<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>Welcome, motherfucker</p>
<h1><%= firstName %></h1>
<h1><%= lastName %></h1>
</body>
</html>