<!DOCTYPE html>
<html lang="en">
<%- include head %>
<body>

<script type="text/x-handlebars">
    <%- include header %>
	    {{outlet}}
    <h1>
        footer
    </h1>
</script>

<script type="text/x-handlebars" id="index">
    <h2>index {{head.title}}</h2>
    <div>
        {{#each orders}}
        <div>
            {{startPrice}}
        </div>
        {{/each}}
    </div>
 </script>
</body>
</html>
