<!DOCTYPE html>
<html lang="en">

<%- include head%>

<body>

<%- include header%>

<!-- Begin page content -->
<div class="container">

    <div class="row">
        <div ui-view="left" class="col-xs-12 col-md-6"></div>
        <div ui-view="right" class="col-xs-12 col-md-6"></div>
    </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyB1TGYNrikCmxtjmCmkYtG5biJSpuYmHaU"></script>
<script src="/js/libs/requirejs/require.js" data-main="js/main.js"></script>
<script>
    function onGoogleReady() {
        angular.bootstrap(document.getElementById("map"), ['app.ui-map']);
    }
</script>

<!--partial tpls -->
<%- include partials %>

</body>
</html>
